<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verified</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
        <h1 style="text-align: center; color: #28a745;">Account Verified</h1>
        <p>Your account has been successfully verified.</p>
        <p>You can now login into your account and access all the features of ShahraZad.</p>
        <p>Thank you for verifying your email address.</p>
        <p><a href="http://localhost:8000/" style="display: block; width: fit-content; margin: 20px auto; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none;">Go to ShahraZad</a></p>
        <p>If you have any questions or need assistance, please contact our support team.</p>
    </div>
</body>
</html>
